<%= form_with(model: recuriement) do |form| %>
  <% if recuriement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recuriement.errors.count, "error") %> prohibited this recuriement from being saved:</h2>

      <ul>
        <% recuriement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name, class:"form-control", placeholder:"First Name" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name, class:"form-control", placeholder:"Last Name" %>
  </div>

  <div class="form-group">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class:"form-control", placeholder:"email@gmail.com" %>
  </div>

  <div class="form-group">
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone, class:"form-control", placeholder:"your mobile number" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-info" %>
  </div>
<% end %>
