<div id="<%= dom_id recuriement %>">
  <p>
    <strong>First name:</strong>
    <%= recuriement.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= recuriement.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= recuriement.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= recuriement.phone %>
  </p>

</div>
